@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div class="container">
     <div class="row mt-5">
     <h1>Mission Application</h1>
     </div>
      <div class="row mt-5">
           <div class="col-6">
            <div class="form-group has-search">
             <span class="bi bi-search form-control-feedback"></span>
             <input type="search" class="form-control" placeholder="Search" id="name" name="searchStory" oninput="searchMission(1,'story')">
            </div>
           </div>
           <div class="col-6 text-end">
            <a class="btn btn-outline-warning border rounded-pill"><i class="bi bi-plus"></i>&nbsp;Add</a>
           </div>
          </div>
          <div class="container" style="height:568px;">

          <table class="w-100 py-3 table h-100 mt-5">
          <thead>
           <tr class="mb-3">
            <th scope="col">Story Title</th>
            <th scope="col">Full Name</th>
            <th scope="col">Mission Title</th>
            <th scope="col">Action</th>
           </tr>
           </thead>
           @foreach(var item in Model.StoryList){
           <tbody>
           <tr class="mb-3">
            <td scope="col"> @item.Title</td>
            <td scope="col"> @item.User.FirstName @item.User.LastName</td>
            <td scope="col"> @item.Mission.Title</td>
            <td scope="col">
            <button type="button" class="btn btn-outline-warning border rounded-pill">View</button>&nbsp;
            <button type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#exampleModalG-"><i class="bi bi-check-circle text-success"></i></button>&nbsp;
             <button type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#exampleModalDelete-"><i class="bi bi-x-circle text-danger"></i></button>&nbsp;
             <button type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#exampleModalDelete-"><i class="bi bi-trash3"></i></button></td>
           </tr>
           
           </tbody>
           }
          </table>
          </div>

    </div>
    <div class="container">
    <nav aria-label="Page navigation example">  
    <ul class="pagination justify-content-end" onchange="searchOnAdmin(1,'story')">        
    <li class="page-item"> 
    <button class="page-link btn pageBtn" aria-label="Previous" onclick="searchMission(1,'story')">           
    <span aria-hidden="true">&laquo;</span> 
    </button> 
    </li>   
    <li class="page-item"> 
    @if (@ViewBag.pg_no != 1)  
    { 
        <button class="page-link btn pageBtn" aria-label="Previous" onclick="searchMission(((@ViewBag.pg_no) - 1),'story')"> 
        <span aria-hidden="true">&lt;</span>  
        </button>  
    }  
    else 
    {
        <button class="page-link btn pageBtn" aria-label="Previous">            
        <span aria-hidden="true">&lt;</span>
        </button>  
    }     
    </li>
    @{
        double totalpages = ViewBag.TpStory; 
        for (int i = 1; i <= totalpages; i++)
        {
            @if (i == ViewBag.pg_no)  
            {  
                <li class="page-item">   
                <button class="page-link active btn pageBtn" onclick="searchMission(@i,'story')">@i</button>
                </li>
            }
            else  
            {
                <li class="page-item">
                <button class="page-link btn pageBtn" onclick="searchMission(@i,'story')">@i</button>           
                </li>    
            } 
        } 
        }
        <li class="page-item">  
        @if (@ViewBag.pg_no != @ViewBag.TpStory) 
        {
            <button class="page-link btn pageBtn" aria-label="Next" onclick="searchMission(((@ViewBag.pg_no) + 1),'story')">      
            <span aria-hidden="true">&gt;</span>
            </button>    
        }
        else 
        {    
            <button class="page-link btn pageBtn" aria-label="Next">            
            <span aria-hidden="true">&gt;</span> 
            </button> 
        }  
        </li>    
        <li class="page-item">
        <button class="page-link btn pageBtn" aria-label="Next" onclick="searchMission(@ViewBag.TpStory,'story')">     
        <span aria-hidden="true">&raquo;</span> 
        </button>
        </li>    
        </ul>
        </nav>
</div>
}
