@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
@model CI_PlatForm.Entities.ViewModel.TimesheetViewModel

     @Html.Partial("_TopNav")
     <div class="container">
      <div class="row">
       <h1>Volunteering Timesheet</h1>
      </div>
     </div>
     <div class="container">
      <div class="row">
       <div class="col-lg-6 col-md-6 col-12">
        <div class="row">
         <div class="col-lg-6 col-md-6 col-12">
          <h3>Volunteering Hours</h3>
         </div>
         <div class="col-lg-6 col-md-6 col-12 text-end">
          <button type="button" onclick="clearSheet()" class="btn btn-outline-warning border rounded-pill" data-bs-toggle="modal" data-bs-target="#VolunteerHours">
           <i class="bi bi-plus"></i>&nbsp; Add
          </button>
          

            <!-- Modal -->
            <div class="modal fade" id="VolunteerHours" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Please input below Volunteering Hours</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                   <div class="row py-3">
                    <label for="tMission" class="text-start">Mission</label>
                    <select type="text" id="tMission" class="form-control form-select">
                     <option value="0">Select Your Mission</option>
                      @foreach(var obj in Model.TimeMission)
                       {
                        <option value="@obj.MissionId">@obj.Mission.Title</option>
                       }
                    </select>
                    <span class="text-danger" id="missionAlert"></span>
                   </div>
                   <div class="row py-3">
                    <label for="tDate" class="text-start">Date Volunteered</label>
                    <input type="date" id="tDate" placeholder="Select Date" class="form-control" onchange="checkDate('time')">
                    <span class="text-danger" id="dateAlert"></span>
                   </div>
                   <div class="row py-3">
                    <div class="col-lg-6 col-md-6 col-12 text-start" >
                     <label for="tHours">Hours</label>
                     <input type="text" class="form-control" id="tHours" aria-describedby="emailHelp" placeholder="Enter spent hours">
                     <span class="text-danger" id="hoursAlert"></span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12 text-start">
                     <label for="tMinutes">Minutes</label>
                     <input type="text" class="form-control" id="tMinutes" aria-describedby="emailHelp" placeholder="Enter spent minutes">
                     <span class="text-danger" id="minuteAlert"></span>
                    </div>
                   </div>
                   <div class="row py-3">
                    <div class="col-12 text-start">
                     <label for="tMessage">Message</label>
                     <textarea class="form-control" id="tMessage" aria-describedby="emailHelp" placeholder="Enter your message"></textarea>
                     <span class="text-danger" id="messageAlert"></span>
                    </div>
                   </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary border rounded-pill" data-bs-dismiss="modal">Cancle</button>
                    <input type="text" id="timeSheetId" hidden />
                    <button type="submit" data-bs-dismiss="modal" class="btn btn-outline-warning border rounded-pill" onclick="saveTimeData()">Submit</button>
                   </div>
                  </div>
                 </div>
                </div>
               </div>
               <div class="container p-3">
                <table class="w-100 table">
                 <tr>
                  <th scope="col">Mission</th>
                  <th scope="col">Date</th>
                  <th scope="col">Hours</th>
                  <th scope="col">Minutes</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                 </tr>
                 @foreach(var obj in Model.TimeSheets)if(obj.Status == "SUBMIT_FOR_APPROVAL")
                  {
                   <tr>
                    <td scope="col">@obj.Mission.Title.ToString().Substring(0,20)</td>
                    <td scope="col">@obj.DateVolunteered.ToString().Substring(0,10)</td>
                    <td scope="col">@obj.Time.ToString().Substring(0,2)h</td>
                    <td scope="col">@obj.Time.ToString().Substring(3,2)</td>
                    <td scope="col">
                 <button type="button" class="btn-primary p-0" data-bs-toggle="modal" data-bs-target="#VolunteerHours" onclick="editTimeSheet(@obj.TimesheetId)">
            <i class="bi bi-pencil-square text-warning" style="color: coral;"></i>
            </button></td>
            <td>
            <button type="button" class="btn p-0" data-bs-toggle="modal" onclick="deleteSheet(@obj.TimesheetId)"><i class="bi bi-trash3"></i></button></td>
            </tr>
             }
          </table>
         </div>
        </div>
       </div>
       <div class="col-lg-6 col-md-6 col-12">
        <div class="row">
         <div class="col-lg-6 col-md-6 col-12">
          <h3>Volunteering Goals</h3>
         </div>
        <div class="col-lg-6 col-md-6 col-12 text-end">
         <button type="button" class="btn btn-outline-warning border rounded-pill" data-bs-toggle="modal" data-bs-target="#VolunteeringGoal" onclick="clearSheet()"><i class="bi bi-plus"></i>&nbsp; Add</button>

            <!-- Modal -->
            <div class="modal fade" id="VolunteeringGoal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Please input below Volunteering Goal</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                   <div class="row py-3">
                    <label for="gMission" class="text-start">Mission</label>
                    <select type="text" id="gMission" class="form-control form-select">
                     <option value="0">Select your mission</option>
                      @foreach(var obj in Model.GoalMission)
                       {
                        <option value="@obj.MissionId">@obj.Mission.Title</option>
                       }
                    </select>
                    <span class="text-danger" id="gMissionAlert"></span>
                   </div>
                   <div class="row py-3">
                    <label for="gAction" class="text-start">Actions</label>
                    <input type="text" class="form-control" id="gAction" aria-describedby="emailHelp" placeholder="Enter Actions">
                    <span class="text-danger" id="actionAlert"></span>
                    </div>
                    <div class="row py-3">
                   
                    <label for="gDate" class="text-start">Date Volunteered</label>
                      <input type="date" id="gDate" onchange="checkDate('goal')" placeholder="Select Date">
                      <span class="text-danger" id="gDateAlert"></span>
                      </div>
                      
                      <div class="row py-3">
                        <div class="col-12 text-start">
                         <label for="gMessage">Message</label>
                        <textarea class="form-control" id="gMessage" aria-describedby="emailHelp" placeholder="Enter your message"></textarea>
                        <span class="text-danger" id="gMessageAlert"></span>
                        </div>
                        </div>
                   
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="text" id="timeSheetId" hidden />
                    <button type="button" data-bs-dismiss="modal" class="btn btn-outline-warning" onclick="saveGoalData()">Submit</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="container p-3">
         <table class="w-100">
          <tr>
           <th scope="col">Mission</th>
           <th scope="col">Date</th>
           <th scope="col">Action</th>
           <th scope="col"></th>
           <th scope="col"></th>
          </tr>
          @foreach(var obj in Model.GoalSheets){
          <tr>
           <td scope="col">@obj.Mission.Title.ToString().Substring(0,20)</td>
           <td scope="col">@obj.DateVolunteered.ToString().Substring(0,10)</td>
           <td scope="col">@obj.Action</td>
           <td scope="col">
           <button type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#VolunteeringGoal">
           <i class="bi bi-pencil-square text-warning" style="color:coral;" onclick="editGoalSheet(@obj.TimesheetId)"></i>
           </button>
           </td>
           <td scope="col">
           <button type="button" onclick="deleteSheet(@obj.TimesheetId)"><i class="bi bi-trash3" ></i>
           </button>
           </td>
          </tr>
          }
         </table>
        </div>
       </div>
      </div>
     </div>
    </div>
    <script>
    function clearSheet(){
     $('#tMission').val(0)
     $('#tDate').val("")
     $('#tHours').val("")
     $('#tMinutes').val("")
     $('#tMessage').val("")
     $('#gAction').val("")
     $('#gMission').val(0)
     $('#gDate').val("")
     $('#gMessage').val("")
     var spanElements = document.querySelectorAll("#VolunteerHours span");
     for(var i = 0; i< spanElements.length; i ++){
        spanElements[i].textContent = "";
     }
     var spanElements = document.querySelectorAll("#VolunteeringGoal span");
     for(var i = 0; i < spanElements.length; i++){
        spanElements[i].textContent = "";
     }
    }
    var mission_id
    var date
    var hours
    var minutes
    var message
    var timeSheetId
    function validate(){
     mission_id = document.getElementById("tMission").value;
     date = document.getElementById("tDate").value;
     hours = document.getElementById("tHours").value;
     minutes = document.getElementById("tMinutes").value;
     message = document.getElementById("tMessage").value;
     timeSheetId = document.getElementById("timeSheetId").value;
     var today = new Date();
     var year = today.getFullYear();
     var month = String(today.getMonth() + 1).padStart(2, '0');
     var day = String(today.getDate()).padStart(2, '0');
     var currentDate = `${year}-${month}-${day}`;
     if(mission_id == 0){
        $("#missionAlert").text("Please Select Your Mission");
     }
     else{
        $("#missionAlert").text("");
     }
     if(hours > 24 || hours < 0 || hours == ""){
        $("#hoursAlert").text("Please enter valid hours");
     }
     else{
        $("#hoursAlert").text("");
     }
     if(minutes > 59 || minutes < 0 || minutes == ""){
        $("#minuteAlert").text("Please enter valid minutes");
    }
    else{
        $("#minuteAlert").text("");
    }
    if(date == ""){
        $("#dateAlert").text("Please select date");
    }
    else if(date > currentDate){
        $("#dateAlert").text("You cannot select a date after today's date");
    }
    else{
        $("#dateAlert").text("");
    }
    if(message == ""){
        $("#messageAlert").text("Message is required");
    }
    else{
        $("#messageAlert").text("");
    }

}
function Goalvalidate(){
    mission_id = document.getElementById("gMission").value
    date = document.getElementById("gDate").value
    action = document.getElementById("gAction").value
    message = document.getElementById("gMessage").value
    timeSheetId = document.getElementById("timeSheetId").value
    var today = new Date();
    var year = today.getFullYear();
    var month = String(today.getMonth() + 1).padStart(2, '0');
    var day = String(today.getDate()).padStart(2, '0');
    var currentDate = `${year}-${month}-${day}`;
    if(mission_id == 0){
        $("#gMissionAlert").text("Please Select Your Mission");
    }
    else{
        $("#gMissionAlert").text("");
    }
    if(action == ""){
        $("#actionAlert").text("Action field is required");
    }
    else{
        $("#actionAlert").text("");
    }
    if(date == ""){
        $("#gDateAlert").text("Please select Date");
    }
    else if(date > currentDate){
        $("#gDateAlert").text("You cannot select a date after today's date");
    }
    else{
        $("#gDateAlert").text("");
    }
    if(message == ""){
        $("#gMessageAlert").text("Message is required");
    }
    else{
        $("#gMessageAlert").text("");
    }
}
function saveTimeData(){
    validate()  
 
    if(mission_id != 0 && hours < 24 && hours > 0 && hours != "" && minutes < 59 && minutes > 0 && minutes != "" && date != "" && message != "" ){
        
        $.ajax({
            
            url: '/Mission/addtimeSheet',
            type: 'post',
            data: {
                id: mission_id,
                date: date,
                hours: hours,
                minutes: minutes,
                message: message,
                timeSheetId: timeSheetId
            },
            success: function(addTimeData){
                console.log(addTimeData)
                if(addTimeData == true){
                    $("#timeSheetModel").modal('hide')
                    document.getElementById("tDate", "tHours", "tMinutes", "tMessage").value = ""
                    toastr.success('Data sent for Approval');
                    setTimeout(function () {
                        location.reload();
                    }, 500);
                }
                else{
                    toastr.error('Data not sent');
                }
            },
            error: function () {
                console.log("Error updating variable");
            }
        })
    }
}
function saveGoalData(){
    Goalvalidate()
    if(mission_id != 0 && action != "" && date != "" && message != ""){
        
        $.ajax({
            url: '/Mission/addGoalSheet',
            type: 'post',
            data: {
                id: mission_id,
                date: date,
                action: action,
                message: message,
                timeSheetId: timeSheetId
            },
            success: function(addGoalData){
                console.log(addGoalData)
                if(addGoalData == true){
                    $("#goalSheetModel").modal('hide')
                    document.getElementById("gDate", "gAction", "gMessage").value = ""
                    toastr.success('Data sent for Approval');
                    setTimeout(function () {
                        location.reload();
                    }, 500);
                }
                else{
                    toastr.error('Data not sent');
                }
            },
            error: function () {
                console.log("Error updating variable");
            }
        })
    }
}
function editTimeSheet(timeSheetId) {
    
    $.ajax({
        url: '/Mission/getTimeSheet',
        type: 'get',
        data: {
            timeSheetId: timeSheetId
        },
        success: function (getData) {
            console.log(getData)
            if (getData.time != null) {

                var timeParts = getData.time.split(':');
                var hours = parseInt(timeParts[0]);
                var minutes = parseInt(timeParts[1]);
            }
            var datee = new Date(getData.dateVolunteered);
            datee.setMinutes(datee.getMinutes() + 1440);
            var dateString = datee.toISOString().split('T')[0];

            document.getElementById("tMission").value = getData.missionId
            document.getElementById("tDate").value = dateString
            document.getElementById("tHours").value = hours
            document.getElementById("tMinutes").value = minutes
            document.getElementById("tMessage").value = getData.notes
            document.getElementById("timeSheetId").value = getData.timesheetId
        },
        error: function () {
            console.log("Error updating variable");
        }
    })
}

function editGoalSheet(timeSheetId) {
    
    $.ajax({
        url: '/Mission/getTimeSheet',
        type: 'get',
        data: {
            timeSheetId: timeSheetId
        },
        success: function (getData) {
            console.log(getData)
            if (getData.time != null) {

                var timeParts = getData.time.split(':');
                var hours = parseInt(timeParts[0]);
                var minutes = parseInt(timeParts[1]);
            }
            var datee = new Date(getData.dateVolunteered);
            datee.setMinutes(datee.getMinutes() + 1440);
            var dateString = datee.toISOString().split('T')[0];

            document.getElementById("gMission").value = getData.missionId
            document.getElementById("gDate").value = dateString
            document.getElementById("gAction").value = getData.action
            document.getElementById("gMessage").value = getData.notes
            document.getElementById("timeSheetId").value = getData.timesheetId
        },
        error: function () {
            console.log("Error updating variable");
        }
    })
}

function deleteSheet(id) {
   
    $.ajax({
        url: '/Mission/deleteSheet',
        type: 'post',
        data: {
            timeSheetId: id
        },
        success: function (result) {
            console.log(result)
            toastr.success('Data deleted successfully');
            setTimeout(function () {
                location.reload();
            }, 500);
        },
        error: function () {
            console.log("Error updating variable");
        }
    })
}
</script>
  <!-- Include the JavaScript files -->
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

}
